# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
pagmulat_environment/

# Django database
*.sqlite3

# Migrations (optional)
**/migrations/
!*/migrations/__init__.py

# Local environment variables
*.env

# Logs
*.log

# Test files
.pytest_cache/
coverage/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
